.tick {
    font-size: 2rem;
}

/* Extend Bootstrap styles for input elements */
.form-control {
    font-family: Arial Black, sans-serif;
    /* Custom font */
    font-weight: bold;
    /* Chunky appearance */
    font-size: 1.2rem;
    /* Easy to read size */
    text-align: center;
}
footer {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 0.9rem;
    color: #E0E0E0;
}